.header {
  background-color: rgb(223, 222, 222);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  height: 50px;
}
.header .header-logo {
  flex: 0.1;
  margin: 10px;
  padding: 0;
}
.header .header-logo img {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 200px;
}

.header .menu-fix {
  flex: 0.9;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}
.header .menu-fix .menu {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  color: #3b3b3b;
  text-decoration: none;
}
.header .menu-fix .menu:hover {
  border: 1px solid #4caf50;
  color: #000000;
}

.header .login {
  display: flex;
  flex: 0.2;
  justify-content: flex-end;
}
.header .login .btn-login {
  background-color: white;
  color: black;
  border: 3px solid #4caf50;
  cursor: pointer;
  margin: 10px;
  font-size: medium;
  width: 80px;
  border-radius: 12px;
}
.header .login .btn-login:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
