.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.wrapper img {
  width: 40%;
}
.wrapper .info {
  font-size: xx-large;
  font-weight: bold;
}
.wrapper .button {
  margin: 10px;
  padding: 10px;
  background-color: rgb(53, 182, 2);
  text-decoration: none;
  color: beige;
  border-radius: 5px;
}
.wrapper .button:hover {
  background-color: blue;
}
