.footer {
  background-color: rgb(223, 222, 222);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: 0;
  padding: 0;
}
.footer a {
  color: black;
}
.footer a:hover {
  color: rgb(0, 17, 255);
}
