.dashboard {
  display: flex;
  flex-direction: row;
}
.sidebar-page {
  background-color: #d98c00;
  width: 20%;
}
.dashboard-page {
  margin: 10px;
  width: 100%;
}
.dashboard-page .dashboard-head {
  height: 45px;
}
